Repository bf2fc6cc711aee1a0c2a/cos-observability-resources, changes with the labels that .github/labeler.yml gives for each.
All labels: midstream, grafana, prometheus

.github/labeler.yml:

midstream:
  - resources/grafana/downstream/**/*
  - resources/grafana/downstream/*
  - resources/prometheus/downstream/**/*
  - resources/prometheus/downstream/*

grafana:
  - resources/grafana/downstream/*

prometheus:
  - resources/prometheus/**/*
  - resources/prometheus/*

test
  resources/prometheus/downstream/somefile
Labels: midstream, prometheus

chore: add interval to rule_group
  resources/prometheus/downstream/camel-k-operator-rules.yaml
  resources/prometheus/downstream/connectors-slo-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-camel-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-debezium-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-sync-rules.yaml
  resources/prometheus/downstream/strimzi-operator-rules.yaml
  scripts/rules-check.sh
Labels: midstream, prometheus

chore: record availability rules for 7 and 28 days
  resources/prometheus/downstream/connectors-slo-rules.yaml
Labels: midstream, prometheus

chore: fix camelk connectors dashboard not showing properly
  resources/grafana/downstream/grafana-dashboard-dataplane-camelk-connector-view.yaml
Labels: midstream, grafana

chore: include all observatorium required fields for rules
  resources/prometheus/downstream/camel-k-operator-rules.yaml
  resources/prometheus/downstream/connectors-slo-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-camel-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-debezium-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-sync-rules.yaml
  resources/prometheus/downstream/strimzi-operator-rules.yaml
  resources/prometheus/unit_tests/connectors-slo-rules-test.yaml
Labels: midstream, prometheus

chore: lint for midstream resources
  Makefile
  config/yamllint.yaml
  resources/grafana/downstream/grafana-dashboard-cos-fleet-manager-stage-slos.configmap.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-camelk-connector-view.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-cluster-view.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-debezium-connector-view.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-overview.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-slos.yaml
  resources/prometheus/downstream/camel-k-operator-rules.yaml
  resources/prometheus/downstream/connectors-slo-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-camel-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-debezium-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-sync-rules.yaml
  resources/prometheus/downstream/strimzi-operator-rules.yaml
  resources/prometheus/unit_tests/camel-k-operator-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-operator-camel-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-operator-debezium-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-sync-rules-test.yaml
  resources/prometheus/unit_tests/strimzi-operator-rules-test.yaml
  scripts/rules-lint.sh
Labels: midstream, grafana, prometheus

chore: group alerts by cluster_id
  resources/prometheus/downstream/camel-k-operator-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-camel-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-debezium-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-sync-rules.yaml
  resources/prometheus/downstream/strimzi-operator-rules.yaml
  resources/prometheus/unit_tests/camel-k-operator-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-operator-camel-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-operator-debezium-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-sync-rules-test.yaml
  resources/prometheus/unit_tests/strimzi-operator-rules-test.yaml
Labels: midstream, prometheus

Add PR request template
  .github/pull_request_template.md
  .github/workflows/labeler.yaml
Labels: none

chore: fix for workflow
  .github/workflows/observability.yaml
Labels: none

chore: add badge to README.md
  .github/workflows/observability.yaml
  README.md
Labels: none

Fixing Connectors Requested panel
  resources/grafana/downstream/grafana-dashboard-dataplane-cluster-view.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-overview.yaml
Labels: midstream, grafana

chore: change unit to second for camelk reconciliations
  resources/grafana/downstream/grafana-dashboard-dataplane-cluster-view.yaml
Labels: midstream, grafana

fix(prom): fix *ContainerFrequentlyRestarting alert expr
  resources/prometheus/downstream/camel-k-operator-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-camel-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-debezium-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-sync-rules.yaml
  resources/prometheus/downstream/strimzi-operator-rules.yaml
Labels: midstream, prometheus

chore: improve summary and description for downstream rules
  resources/prometheus/downstream/camel-k-operator-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-camel-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-debezium-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-sync-rules.yaml
  resources/prometheus/downstream/strimzi-operator-rules.yaml
Labels: midstream, prometheus

chore: improve summary and description for legacy rules
  resources/prometheus/camel-k-operator-rules.yaml
  resources/prometheus/cos-fleetshard-operator-camel-rules.yaml
  resources/prometheus/cos-fleetshard-operator-debezium-rules.yaml
  resources/prometheus/cos-fleetshard-sync-rules.yaml
  resources/prometheus/strimzi-operator-rules.yaml
Labels: prometheus
