Repository bf2fc6cc711aee1a0c2a/cos-observability-resources, changes with the labels that .github/labeler.yml gives for each.
All labels: midstream, grafana, prometheus, legacy, test

chore: introduce expression to alert when a connector hangs in provisioning
  resources/prometheus/downstream/connectors-slo-rules.yaml
  resources/prometheus/unit_tests/connectors-rules-test.yaml
Labels: midstream, prometheus, test

chore: completely remove prometheus rules
  resources/index.json
  resources/prometheus/camel-k-operator-rules.yaml
  resources/prometheus/connectors-slo-rules.yaml
  resources/prometheus/cos-fleetshard-operator-camel-rules.yaml
  resources/prometheus/cos-fleetshard-operator-debezium-rules.yaml
  resources/prometheus/cos-fleetshard-sync-rules.yaml
  resources/prometheus/prometheus-rules.yaml
  resources/prometheus/strimzi-operator-rules.yaml
Labels: prometheus, legacy

chore: change API availability from 95% to 99.5%
  resources/grafana/downstream/grafana-dashboard-cos-fleet-manager-stage-slos.configmap.yaml
Labels: midstream, grafana

feat: enforce labels and prevent PRs from being merged when DoNotMerge
  .github/workflows/enforce-labels.yaml
Labels: none

chore: fix slo pannel for cfm dashboard
  resources/grafana/downstream/grafana-dashboard-cos-fleet-manager-stage-slos.configmap.yaml
Labels: midstream, grafana

MGDCTRS-1925: Added prometheus rules, Alerts, and tests for the Data Success SLI
  resources/prometheus/downstream/connectors-slo-rules.yaml
  resources/prometheus/unit_tests/connectors-data-error-slo-rules-test.yaml
  resources/prometheus/unit_tests/connectors-exchanges-recording-rules-test.yaml
Labels: midstream, prometheus, test

Grafana Fix: Update few queries
  resources/grafana/downstream/grafana-dashboard-dataplane-cluster-view.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-overview.yaml
Labels: midstream, grafana

Grafana Fix: Formating commit
  resources/grafana/downstream/grafana-dashboard-dataplane-cluster-view.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-overview.yaml
Labels: midstream, grafana

Grafana Dashboards: Updated CFM SLO dashboard to use recording rules
  resources/grafana/downstream/grafana-dashboard-cos-fleet-manager-stage-slos.configmap.yaml
Labels: midstream, grafana

Update grafana-dashboard-cos-fleet-manager-stage-slos.configmap.yaml
  resources/grafana/downstream/grafana-dashboard-cos-fleet-manager-stage-slos.configmap.yaml
Labels: midstream, grafana

Update grafana-dashboard-cos-fleet-manager-stage-slos.configmap.yaml
  resources/grafana/downstream/grafana-dashboard-cos-fleet-manager-stage-slos.configmap.yaml
Labels: midstream, grafana

Add K8s Pod view dashboard
  resources/grafana/k8s-view-pods.yaml
Labels: grafana, legacy

Fix graph panel
  resources/grafana/k8s-view-pods.yaml
Labels: grafana, legacy

Change dashboard name to Dataplane-operators
  resources/grafana/dataplane-operators.yaml
Labels: grafana, legacy

chore: bump yogevbd/enforce-label-action to 2.2.2
  .github/workflows/enforce-labels.yaml
Labels: none

Revert "MGDCTRS-1793 : Allowing Pod/Containers resource metrics to display in Dataplane Operator Dashboard (#44)"
  resources/prometheus/remote-write.yaml
Labels: prometheus, legacy

.github/labeler.yml:

midstream:
  - resources/grafana/downstream/*.yaml
  - resources/prometheus/downstream/*.yaml

grafana:
  - resources/grafana/downstream/*.yaml
  - resources/grafana/*.yaml

prometheus:
  - resources/prometheus/downstream/*.yaml
  - resources/prometheus/*.yaml

legacy:
  - resources/grafana/*.yaml
  - resources/prometheus/*.yaml

test:
  - resources/prometheus/unit_tests/*
