Repository bf2fc6cc711aee1a0c2a/cos-observability-resources, pull requests merged in 2022-12, with the labels that each got.

#17 Add lint checks for midstream resources
  Makefile
  config/yamllint.yaml
  resources/grafana/downstream/grafana-dashboard-cos-fleet-manager-stage-slos.configmap.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-camelk-connector-view.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-cluster-view.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-debezium-connector-view.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-overview.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-slos.yaml
  resources/prometheus/downstream/camel-k-operator-rules.yaml
  resources/prometheus/downstream/connectors-slo-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-camel-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-debezium-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-sync-rules.yaml
  resources/prometheus/downstream/strimzi-operator-rules.yaml
  resources/prometheus/unit_tests/camel-k-operator-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-operator-camel-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-operator-debezium-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-sync-rules-test.yaml
  resources/prometheus/unit_tests/strimzi-operator-rules-test.yaml
  scripts/rules-lint.sh
Labels: midstream, prometheus, grafana

#20 MGDCTRS-1757: Modify midstream rules accordingly to cluster_id
  .github/workflows/observability.yaml
  resources/prometheus/downstream/camel-k-operator-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-camel-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-debezium-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-sync-rules.yaml
  resources/prometheus/downstream/strimzi-operator-rules.yaml
  resources/prometheus/unit_tests/camel-k-operator-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-operator-camel-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-operator-debezium-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-sync-rules-test.yaml
  resources/prometheus/unit_tests/strimzi-operator-rules-test.yaml
Labels: midstream, prometheus

#27 MGDCTRS-1796: Drop labels that aren't used in rules or dashboards
  resources/prometheus/remote-write.yaml
Labels: prometheus, legacy

#26 MGDCTRS-1795: Improve summary for *TargetDown and *ContainerFrequentlyRestarting alerts
  resources/prometheus/camel-k-operator-rules.yaml
  resources/prometheus/cos-fleetshard-operator-camel-rules.yaml
  resources/prometheus/cos-fleetshard-operator-debezium-rules.yaml
  resources/prometheus/cos-fleetshard-sync-rules.yaml
  resources/prometheus/downstream/camel-k-operator-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-camel-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-operator-debezium-rules.yaml
  resources/prometheus/downstream/cos-fleetshard-sync-rules.yaml
  resources/prometheus/downstream/strimzi-operator-rules.yaml
  resources/prometheus/strimzi-operator-rules.yaml
  resources/prometheus/unit_tests/camel-k-operator-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-operator-camel-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-operator-debezium-rules-test.yaml
  resources/prometheus/unit_tests/cos-fleedshard-sync-rules-test.yaml
  resources/prometheus/unit_tests/strimzi-operator-rules-test.yaml
Labels: midstream, prometheus, legacy, test

#28 MGDCTRS-1703: Added Recording rules for the data-plane SLO Grafana dashboard
  resources/prometheus/downstream/connectors-slo-rules.yaml
  resources/prometheus/unit_tests/grafana-connectors-slo-rules-test-1.yaml
  resources/prometheus/unit_tests/grafana-connectors-slo-rules-test-2.yaml
Labels: midstream, prometheus, test

#32 Dataplane SLO Dashboard to use Recording rules
  resources/grafana/downstream/grafana-dashboard-dataplane-cluster-view.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-overview.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-slos.yaml
Labels: midstream, grafana
