Repository bf2fc6cc711aee1a0c2a/cos-observability-resources, pull requests merged in 2023-03, with the labels that each got.

#39 Grafana Fix: Update few queries
  resources/grafana/downstream/grafana-dashboard-dataplane-cluster-view.yaml
  resources/grafana/downstream/grafana-dashboard-dataplane-overview.yaml
Labels: midstream, grafana

#40 Grafana Dashboards: Updated CFM SLO dashboard to use recording rules
  resources/grafana/downstream/grafana-dashboard-cos-fleet-manager-stage-slos.configmap.yaml
Labels: midstream, grafana

#43 chore: bump yogevbd/enforce-label-action to 2.2.2
  .github/workflows/enforce-labels.yaml
Labels: enhancement

#42 MGDCTRS-1793 : Add `container_cpu_usage_seconds_total` metrics to observatorium
  resources/prometheus/remote-write.yaml
Labels: prometheus
